<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salo.dao.ConstantMapper">
  <resultMap id="BaseResultMap" type="com.salo.model.Constant">
    <id column="authId" jdbcType="INTEGER" property="authid" />
    <result column="authRst" jdbcType="VARCHAR" property="authrst" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    authId, authRst
  </sql>
  <select id="selectByExample" parameterType="com.salo.model.ConstantExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from constant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from constant
    where authId = #{authid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from constant
    where authId = #{authid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.salo.model.ConstantExample">
    delete from constant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.salo.model.Constant">
    insert into constant (authId, authRst)
    values (#{authid,jdbcType=INTEGER}, #{authrst,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.salo.model.Constant">
    insert into constant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authid != null">
        authId,
      </if>
      <if test="authrst != null">
        authRst,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authid != null">
        #{authid,jdbcType=INTEGER},
      </if>
      <if test="authrst != null">
        #{authrst,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.salo.model.ConstantExample" resultType="java.lang.Long">
    select count(*) from constant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update constant
    <set>
      <if test="record.authid != null">
        authId = #{record.authid,jdbcType=INTEGER},
      </if>
      <if test="record.authrst != null">
        authRst = #{record.authrst,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update constant
    set authId = #{record.authid,jdbcType=INTEGER},
      authRst = #{record.authrst,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.salo.model.Constant">
    update constant
    <set>
      <if test="authrst != null">
        authRst = #{authrst,jdbcType=VARCHAR},
      </if>
    </set>
    where authId = #{authid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.salo.model.Constant">
    update constant
    set authRst = #{authrst,jdbcType=VARCHAR}
    where authId = #{authid,jdbcType=INTEGER}
  </update>
</mapper>